<br>
<br>
<h4 class="text-center">Eat the burgers</h4>
<hr>
<br>


<div class="container">
  <div class="title text-center">
    <div> click on the devour button to move to the devoured list</div>
    <div> or add a new burger at the bottom of the page.</div>
  </div>

  <hr>
  <div class="row">
    <div class="col-lg-6 text-center">
      <div class="not-eaten text-center">
        <h4>Burgers not eaten.</h4>
        <ul>
          {{#each burgers}}
          {{#unless this.devoured}}
          <li>
            <p>{{this.id}}. {{this.burger_name}}
              <span>
                <form method="POST" action="/burger/update?_method=PUT">
                  <input type="hidden" name="id" value="{{this.id}}">
                  <button type="submit">Devour burger!</button>
                </form>
              </span>
            </p>
          </li>
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-lg-6 text-center">
      <div class="eaten text-center">
        <h4>Burgers that have been eaten</h4>
        <ul>
          {{#each burgers}}
          {{#if this.devoured}}
          <li>
            <p>{{this.id}}. {{this.burger_name}} </p>
            <br>
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="add-area text-center">

        <h2 class="text-center">Add burger</h2>

        <form class="text-center" method="POST" action="/burger/add">
          <input type="text" name="name">
          <button type="submit">Add New Burger</button>
        </form>
      </div>
    </div>
  </div>


</div>